<div class="jumbotron" id="static">
  	<div class="container">

<<<<<<< HEAD
<%= link_to "Log out", logout_path, method: :delete %>

<p>Implement your ingredient</p>
<a href="/useringredients/new">Ingredients</a>
=======
		Are you sure you want to logout?

		<%= link_to "Logout", logout_path, method: :delete %>

	</div>
</div>
>>>>>>> 66c7b314cb4fa30ee8f4df6eda9b93e98da018ff
