<div class="jumbotron" id="static">
  	<div class="container" id="aboutborder">
		<h1>ABOUT <div id="brand">Ripe</div></h1>

		<p>Are you buying groceries too often? Not sure what to make differently with what you have already? San Francisco Bay Area based recipe aggregator provides you with all of the amentities so you don't have to worry about that when you're cooking.</p>
	</div>
</div>