<div class="jumbotron" id="static">
  	<div class="container" id="about">
		<h1>ABOUT <div id="brand">Ripe</div></h1>

		<p>Are you buying groceries too often? Not sure what to make differently with what you have already? San Francisco Bay Area based recipe aggregator provides you with all of the amentities so you don't have to worry about that when you're cooking.</p>
		<p>Using our filters, you can easily find a recipe that involves ingredients that you already have at home. Not to mention, you can also keep track of at-home ingredients through your account by manually adding ingredients or scanning the barcode on the item(s) with your smartphone or webcam.</p>
		<p>Any items in the recipe that you don't currently own can be purchased conveniently through on-demand delivery service <a href="https://postmates.com/" target="_blank">Postmates <img id="logo" src="http://i.imgur.com/M8OXrmn.png"></a> (limited locations served).</p>
		<p>For your convenience, each recipe is paired with beer, wine, spirits, and cocktails, making it easy for the home cook or dinner party host.</p>
	</div>
</div>