<div class="jumbotron" id="static">
  	<div class="container" id="contactborder">
		<h1>CONTACT <div id="brand">Ripe</div></h1>
		<address>
			P.O. Box 123<br>
			San Francisco, CA 12345<br>
			<abbr title="Phone">P:</abbr> (123) 456-7890<br>
			<a href="mailto:ripe@ripe.com?subject=Hello Ripe">Email Us</a> 
		</address>
	</div>
</div>