<div class="jumbotron" id="homeimg">
  <div class="container">
    <form class="form-inline" id="mainsearch">
      <div class="form-group">
        	<input type="text" class="form-control" id="searchbox" placeholder="butter, soup, chocolate chip cookies">
      </div>
      <button type="submit" class="btn btn-default">SEARCH</button>
    </form>
  </div>
</div>
