<div class="jumbotron" id="homeimg">
  <div class="container">

    <%= form_tag '/site/search', :id => "mainsearch", class: "form-inline" do -%>
      <div class="form-group">
        <%= text_field_tag 'searchbox', nil, class: "form-control", placeholder: "soup, chicken, chocolate chip" %> 
      </div>
        <%= submit_tag 'Search', class:"btn btn-default" %>
    <% end -%>

  </div>
</div>

